#card{
margin-top: 100px;
// background-color: aqua;

 h1{
    color: black;
    font-weight: bolder;
    padding: 0px 38px;
    font-size: xx-large;
 }

}
.sortingButtons{
   // background-color: red;
   // border: 4px solid black;
      
     h1{
      font-weight: bolder;
      font-size: xx-large;
      margin-left: 20px;
     }

   .bk{
      // border: 3px solid aqua;
      text-align: center;
   }

   // Button {
   //    border: 3px solid blue;
      
   // }
   input{
     
    margin-left: 950px;
    padding: 5px;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid gray;
   }
  

}
.sea{
   // background-color: aqua;
   margin-top: 150px;
   font-weight: bolder;
   font-size: 25px;
   margin-bottom: 30px;
   padding: 0px 15px;
   
 }
 .how{
   // background-color: red;
   font-weight: bolder;
   font-size: 20px;
   margin-bottom: 10px;
 }
 .shahid{
   // background-color: aqua;
   margin-left: 45px;
 }


