*{
  padding: none;
  margin: none;
}


.explore  {
   /* width:"200px";
   height:"300px"; */
  text-decoration: line-through;
}
 .biscuit {
 
  font-size: large;
  border-radius: 4px;
  border: none;
  color: beige;
  background-color:black;
  padding: none;
  margin-top: 5px;
  width: 50%;
  
}
.price {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  margin-top: 2px;
  
}
.star  {
  /* background-color: #61dafb; */
  display: flex;
  /* justify-content: space-evenly; */
  color: blue;
   
  
}
.start .don {
  margin-top: 88px;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 400px;

padding-bottom: 200px;
background: url(https://columbia.scene7.com/is/image/ColumbiaSportswear2/37317_C_U_Q1_WinterSale5_HP_Hero_XL?$aem_pjpeg$);
}

.pic .pic1{
  /* background-color: aqua; */
  /* border: 1px solid red; */
  text-align: center;
  margin: auto;
  width: 30%;
  padding-top: 180px;
  padding-bottom: 150px;
}
 .pic .pic1 p {
   padding-top: 10px;
 }
 .pic .pic1 h1 {
  padding-top: 10px;
 }

.pic button {
  background-color: black;
  border-radius: 4px;
  padding: 10px 10px;
  border: transparent;
  color: whitesmoke;
  font-weight: bold;
  margin-top: 10px;

}
.ekpic {
 border: 2px solid blue;
 width: 90%;
 margin: auto;
  text-align: center;
}

.snow{
  /* background-color: aqua; */
  padding-top: 50px;
  text-align: center;
  padding-bottom: 130px;
}
.snow button {
  background-color: black;
  color: whitesmoke;
  font-weight: bold;
  padding: 8px 8px;
  border-radius: 4px;
  margin-top: 15px;
}
.minus{
  margin-top: -130px;
  /* background-color: aqua; */
  color: rgb(216, 210, 210);
  /* padding: 0px 25px; */
}

.linker {
  display: flex;
  padding-top: 100px;
  text-align: center;
}

.pk {
  /* border: 1px solid red; */
  margin-top: 140px;
  width: 90%;
  height: 500px;
 padding: 0px 10px;
 

}
.fish {
  margin-top: -60px;
  padding: 0px 15px;
  color: whitesmoke;
}
.pk .shahid {
  display: flex;
  gap: 5px;
}
.pk h2{
  padding: 0px 10px;
}
.nature {
  /* background-color: aqua; */
  text-align: center;
  /* border: 1px solid red; */
  margin-top: 200px;
 
}
.nature h1 {
  color: blue;
  font-weight: bold;
}
.exp {
  padding-top: 180px;
  font-weight: bold;
 

}
.moon {
  margin-top: 170px;
}

.moon .moon1 {
  /* border: 1px solid red; */
  display: flex;
  margin-top: -420px;
  gap: 8px;
}

.moon2 :nth-child(n){
  /* border: 1px solid blue; */
  color: rgb(238, 232, 232);
  
}

.tele {
 margin-top: 190px;
  /* text-align: center; */
  display: flex;
  
}

.tele .tele1 {
  /* border: 1px solid red; */
  width: 50%;
  padding: 0px 50px;
  margin: 10px;
}

.App {
  text-align: center;
}
.osma {
  background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
  color: white;
 
}

.fix {

position: fixed;
top:0px;
z-index: 4;
}

/* .mens {
  background-color: #61dafb;
  
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.oso{
  background: url(https://lmg-labmanager.s3.amazonaws.com/assets/articleNo/29120/aImg/52433/how-magnetism-could-help-explain-earth-s-formation-m.webp);
}
.kick {
  margin-top: 100px;
  font-weight: bolder;
  font-size: xx-large;
  padding-left: 40px;
  
}
.don .round{
  background-color: white;
  color: red;
  border-radius: 8px;
  text-align: center;
  font-size: bold;
  font-weight: bold;
  object-fit:fill;
  margin-top: 40px;

}
.last .chance{
  /* background-color: #61dafb; */
  text-align: center;
  font-weight: bolder;
  font-size: 50px;
}
.gear {
  /* background-color: #61dafb; */
  text-align: center;
  font-weight: bolder;
  font-size: 30px;
}
.sale {
  /* background-color: #f1f4f5; */
  text-align: center;
  border: 1px solid white;
  padding: 10px 10px;
  margin-top: 20px;
  border-radius: 5px;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
